<!doctype html>
<html>
<head>
  <title>Game on!</title>
</head>
<body>
    <form action = "/madlib">

        <label>Give us a name of a person</label>
        <input type="text" name="name">
        <br>
        <label>Give us a color</label>
        <input type="text" name="color">
        <br>
        <label>Give us a noun</label>
        <input type="text" name="noun">
        <br>
        <label>Give us an adjective</label>
        <input type="text" name="adjective">
        
      <input type="submit">

    </form>
</body>
</html>