<!doctype html>
<html>
<head>
  <title>Game on!</title>
</head>
<body>
    <form action = "/madlib">

        <label>Give us a name of a person</label>
        <textarea name="person"></textarea>
        <br>
        <label>Give us a color</label>
        <textarea name="color"></textarea>
        <br>
        <label>Give us a name of a noun</label>
        <textarea name="noun"></textarea>
        <br>
        <label>Give us a name of a adjective</label>
        <textarea name="adjective"></textarea>
        
      <input type="submit">

    </form>
</body>
</html>